/* Container class with margin and gray background color */
.container {
  margin: 10px; /* Standardized unit */
  padding: 10px; /* Consistent padding */
}

/* Header class to align items within the header */
.header {
  display: flex;
  justify-content: space-between; /* Spread title and button apart */
  align-items: center; /* Vertically center the content */
  width: 100%; /* Ensure it takes full width */
}

/* Existing .title class */
.title {
  color: var(--mantine-color-black); /* Consistent dark color */
  font-size: 25px; /* Font size adjustment */
  font-weight: 700;
  letter-spacing: 0; /* Removed rem conversion for letter-spacing */

  @media (max-width: 768px) { /* Standardized media query */
    font-size: 20px; /* Smaller screens font size */
  }
}

/* Subtitle class */
.subtitle {
  color: var(--mantine-color-gray-dark); /* Updated color */
  font-size: 15px; /* Adjusted font size */
  font-weight: 500;
  margin-bottom: 1rem; /* Use rem unit for consistency */
  line-height: 1.5; /* Better readability */
}

.expandText {
  margin: 20
}

.closedContent {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px; /* Adjusted font size */
  font-weight: 500;
  color: rgb(150, 150, 150)
}